.App {
  text-align: center;
  padding-top: 64px;
}

textarea {
  margin-top: 24px;
  width: 40vw;
  height: 80px;
}

p {
   padding: 24px 60px;
}

i {
  font-size: x-large;
}

.footer {
  position: absolute;
  top: 100%;
  margin-top: -50px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}